*
{
	margin: 0px;
	padding:0px;
	--main_color: #12425b;
	--main_color_dk: #040f15;
	--subtle_color: #bfbfbf;
}

.menu
{
	height: 100vh;
	width: 100vw;
}

.menu > button
{
	height: 200px;
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
	border-radius: 15px;
	background: var(--main_color);
	color: white;
	font-size: 2em;
}

.card
{
	height: calc(50% - 220px);
	width: calc(100% - 140px);
	margin: 20px;
	padding: 50px;
	background: black;
	border-radius: 	30px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 20% 16% 16% 16% 16% 16%;
}

.card > h1
{
	background: white;
	text-align: center;
	display: grid;
	align-items: center;
  	justify-items: center;
}

.card > h3
{
	color: white;
	text-align: center;	
	display: grid;
	align-items: center;
  	justify-items: center;
  	font-size: 	2em;
  	overflow-y: auto;
}

.btnMix
{
	height: 120px !important;
	margin-top: 0px !important;
	font-size: 3em !important;
}

#catName
{
	height: 120px;
	width: 100%;
	line-height: 150px;
	text-align: center;
	font-size: 4em;
	color: white;
}

.topList, .itemList
{
	height: 100px;
	width: calc(100% - 40px);
	padding: 20px;
	float: left;
}

.topList > input
{
	height: 100%;
	width: calc(100% - 160px);
	border-radius: 50px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 3em;
}

.itemList > h3
{
	height: 100px;
	line-height: 100px;
	width: calc(100% - 220px);
	font-size: 3em;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	overflow-y: auto;
}

.itemList > h1
{
	height: 100px;
	line-height: 100px;
	width: 70px;
	font-size: 3em;
	float: left;
}


.topList > button, .itemList > button
{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	margin-left: 10px;
	font-size: 3em;
	background: red;
	color: white;
}